name: Test
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  test:
    if: github.event.pull_request.draft == false
    uses: mgacy/swift-package-workflows/.github/workflows/test.yml@main
    with:
      report-coverage: true
      diff-coverage: ${{ github.event.pull_request.base.ref == 'main' }}
