name: Tests

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  unit_tests:
    if: github.event.pull_request.draft == false
    uses: Mobelux/swift-package-workflows@main
